{% extends 'layout.html.twig' %}

{% block content %}
	<div style="margin-bottom: 20px;" xmlns:v-on="http://www.w3.org/1999/xhtml">
		<h4>Здравствуйте, {{ app.user.name }}! Ваш e-mail: {{ app.user.email }}</h4>
	</div>
	<hr/>
	<div class="row" id="chat">
		<div class="col-md-4">
			<div id="chat-users" v-show="conversations.length > 0">
				<b>Мои собеседники</b>
				<ul class="with-online">
					<li v-for="conv in conversations"
						v-bind:class="{ online: online_ids.indexOf(parseInt(conv.with.id)) >= 0 }">
						<i></i>
						<span v-on:click="setChat(conv)">${conv.with.name}</span>
						<span class="badge alert-info" v-if="conv.newMessages > 0">${conv.newMessages}</span>
					</li>
				</ul>
			</div>
			{% if otherUsers is not empty %}
				<div id="other-users">
					<hr/>
					<b>Начать диалог</b>
					<ul class="with-online">
						{% for user in otherUsers %}
							<li class="chat{{ user.id }}"
								v-bind:class="{ online: online_ids.indexOf({{ user.id }}) >= 0 }"
								v-on:click="beginChat('{{ user.id }}', '{{ user.name }}')">
								<i></i>
								<span>+ {{ user.name }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>

		<div class="col-md-8">
			<b>Сообщения</b>
			<div class="messages" v-for="conv in conversations" v-show="active_user == conv.with.id">
				<ul>
					<li v-for="message in conv.messages">
						${message.userFromName}: ${message.message}
					</li>
				</ul>
				<input v-model="conv.input" v-bind:class="'input' + conv.with.id" autocomplete="off"
					   class="post-message"/>
				<button v-on:click="postMessage(conv)">Отправить</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/autobahn.js') }}"></script>
	<script src="{{ asset('js/vue.js') }}"></script>
	<script src="{{ asset('js/vue-resource.js') }}"></script>
	<script src="{{ asset('js/vue-router.js') }}"></script>
	<script>
		const userId = '{{ app.user.id }}';
		const withId = '{{ with ? with : '' }}';
		const withName = '{{ withUser is defined and withUser ? withUser.name : '' }}';

		let vm = new Vue({
			el:         "#chat",
			delimiters: ['${', '}'],
			data:       {
				conversations: {{ conversations|raw }},
				active_user: withId,
				my_id:       '{{ app.user.id }}',
				my_name:     '{{ app.user.name }}',
				conn:        null,
				online_ids:  []
			},
			mounted:    function() {
				if (withId.length) {
					// ждем инициализации VM и сокета соединения, проверяем каждые 100мс
					const myInterval = setInterval(function() {
						if (!vm.conn) {
							return;
						}
						// сбрасываем интервал, когда сокетное соединение установлено
						clearInterval(myInterval);

						// сбрасываем счетчик непрочитанных сообщений в локальном скрипте
						if (vm.conversations.length) {
							let hasChat = false;
							for (let i = 0; i < vm.conversations.length; i++) {
								if (vm.conversations[i].with.id == withId) {
									vm.conversations[i].newMessages = 0;
									hasChat = true;
									break;
								}
							}
							if (hasChat === false) {
								vm.beginChat(withId, withName);
							}
						}
						// сбрасываем счетчик непрочитанных сообщений пушем через сокет в базу данных
						vm.conn.publish('sf.blog.chat', {'type': 'readed', 'withId': withId, 'userId': userId});
					}, 100);
				}
			},
			methods:    {
				postMessage: function(conv) {
					let data = {'message': conv.input, 'to': conv.with.id};
					this.$http.post('/chat/post-message', data).then(response => {
						conv.messages.push(response.body.message);
						conv.input = "";
					}, response => {
						// error callback
					});
				},
				updateURL:   function() {
					// если поддерживается история браузера, то при переключении чата мы меняем и URL-адрес
					if (history.pushState) {
						let newurl = window.location.protocol + "//" + window.location.host
							+ window.location.pathname + '?with=' + vm.active_user;
						window.history.pushState({path: newurl}, '', newurl);
					}
				},
				setChat:     function(conv) {
					vm.active_user = conv.with.id;
					vm.updateURL();
					conv.newMessages = 0;
					vm.conn.publish('sf.blog.chat', {'type': 'readed', 'withId': conv.with.id, 'userId': userId});
					setTimeout(function() {
						$('.input' + conv.with.id).focus();
					}, 50);
				},
				beginChat:   function(userId, userName) {
					$('li.chat' + userId).remove();
					if ($('#other-users li').length == 0) {
						$('#other-users').remove();
					}
					vm.conversations.push({
						'with':        {'id': userId, 'name': userName},
						'messages':    [],
						'lastMessage': null,
						'input':       '',
						'newMessages': 0,
					});
					vm.active_user = userId;
					vm.updateURL();
					setTimeout(function() {
						$('.input' + userId).focus();
					}, 50);
				}
			}
		});

		let conn = new ab.Session('ws://localhost:8080',
			function() {
				vm.conn = conn;
				conn.subscribe('all', function(subscriber, data) {
					console.log('Message to all subscribers');
					console.log(data);

					if (data.type == 'online') {
						if (vm.online_ids.indexOf(data.object.userId) >= 0) {
							// уже есть в списке онлайна
						}
						else {
							vm.online_ids.push(data.object.userId);
							console.log(data.object.userId + ' added to online');
						}
					}
				});

				conn.subscribe(userId, function(subscriber, data) {
					console.log('Message via socket to UserId:'.userId);
					console.log(data);

					// приняли входящее сообщение от другого участника
					if (data.type == 'message') {
						const message = data.object;
						const userFromId = message.userFromId;

						// диалог найден - добавляем в чат, выставляем последнее сообщение в нем
						if (vm.conversations.length) {
							for (let i = 0; i < vm.conversations.length; i++) {
								if (vm.conversations[i].with.id == userFromId) {
									vm.conversations[i]['messages'].push(message);
									vm.conversations[i].lastMessage = message;
									if (vm.active_user == userFromId) {
										// если этот чат и есть активный, то закрываем счетчик новых сообщений
										vm.conversations[i].newMessages = 0;
										conn.publish('sf.blog.chat', {
											'type':   'readed',
											'withId': userFromId,
											'userId': userId
										});
									}
									else {
										vm.conversations[i].newMessages = vm.conversations[i].newMessages + 1;
									}
								}
							}
						}
						else {
							// когда диалог не найден, необходимо создать его структуру
							vm.conversations.push({
								'with':        {'id': userFromId, 'name': message.userFromName},
								'messages':    [message],
								'lastMessage': message,
								'input':       '',
								'newMessages': 1,
							});
						}
						// удаляем запись из блока Начать диалог
						$('li.chat' + userFromId).remove();
					}
				});

				const online = setInterval(function() {
					conn.publish('sf.blog.chat', {
						'type':   'online',
						'userId': userId
					});
				}, 5000);
			},
			function() {
				console.warn('WebSocket connection closed');
			},
			{'skipSubprotocolCheck': true}
		);
	</script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		ul.with-online {
			list-style: none;
			padding: 0;
			margin-left: -14px;
		}
		.with-online li > i {
			display: inline-block;
			visibility: hidden;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #2ECC40;
		}
		.with-online li.online > i {
			visibility: visible;
		}
	</style>
{% endblock %}
