{% extends 'layout.html.twig' %}

{% block content %}
	<h1>new blog</h1>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {

		});
	</script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
