{% extends 'layout.html.twig' %}

{% block content %}
	<h1>pusher</h1>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/autobahn.js') }}"></script>
	<script>
		$(document).ready(function() {
			var conn = new ab.Session('ws://localhost:8080',
				function() {
					conn.subscribe('{{ app.user.id }}', function(type, data) {
						console.log('New event published. Type: "' + type);
						console.log('Data: ' + data.title);
					});
				},
				function() {
					console.warn('WebSocket connection closed');
				},
				{'skipSubprotocolCheck': true}
			);
		});
	</script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
