{# pass an array argument to get the messages of those types  #}
{% for label, messages in app.flashes(['success', 'info', 'warning', 'error']) %}
	{% for message in messages %}
		<div class="alert alert-{{ label }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}