<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills float-right">
			{% if not app.user %}
				<li class="nav-item">
					<a class="nav-link {{ route == 'entry' ? 'active' }}" href="{{ path('entry') }}">Войти</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ route == 'register' ? 'active' }}"
					   href="{{ path('register') }}">Регистрация</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="#">Обратная связь</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('chat') }}">Чат</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout') }}">Выйти</a>
				</li>
			{% endif %}
		</ul>
	</nav>
	<h3 class="text-muted">Блогер</h3>
</div>