<!DOCTYPE html>
{% set route = app.request.attributes.get('_route') %}
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Welcome!{% endblock %}</title>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('twitter_bootstrap/css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
	{% endblock %}
</head>
<body>

<div class="container">
	{% include 'header.html.twig' %}
	{% include 'flashes.html.twig' %}

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	{% include 'footer.html.twig' %}
</div>

{% block javascripts %}
	<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}
</body>
</html>
