{% extends 'layout.html.twig' %}

{% block content %}
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<form action="{{ path('entry') }}" method="POST" name="Login_Form" class="form-signin">
				<h3 class="form-signin-heading">Авторизация</h3>
				<hr class="colorgraph">
				<br>

				<input type="text" class="form-control" name="username" value="{{ username }}"
					   placeholder="Номер телефона или e-mail" required="" autofocus=""/>
				<input type="password" class="form-control" name="password" placeholder="Пароль" required=""/>
				<button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Войти</button>
			</form>

			{% if error is defined and error is not empty %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endif %}
		</div>
	</div>
{% endblock %}