{% extends 'layout.html.twig' %}

{% block content %}
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<h3 class="form-signin-heading">Регистрация</h3>
			<hr class="colorgraph">
			<br>

			{{ form_start(form) }}
			{{ form_row(form.email) }}
			{{ form_row(form.plainPassword.first) }}
			{{ form_row(form.plainPassword.second) }}
			{{ form_row(form.termsAccepted) }}
			{{ form_widget(form.save, {'label':'Зарегистрироваться'}) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}